<app-map [userLocations]="userLocations | async | toMarker" (clickLocation)="postLocation($event)"></app-map>

<input #userId class="form-control" type="number" placeholder="User id" />
<br />
<button (click)="updateUser(userId.value)" class="btn btn-primary">Set user</button>
<br />
