<google-map height="500px" width="100%" [zoom]="zoom" [center]="center" (mapClick)="click($event)">
    <map-marker
        #markerElem
        *ngFor="let marker of userLocations"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="openInfo(markerElem, marker.info)"
    >
    </map-marker>

    <map-info-window>{{ infoContent }}</map-info-window>
</google-map>
