<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Cover</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" [routerLink]="['/']">Home</a>
                <a class="nav-link" [routerLink]="['/location']">Location</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover"><ng-content></ng-content></main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            ^.^
        </div>
    </footer>
</div>
